<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
jQuery(function(){
        
        jQuery('.targetDiv').hide();
        jQuery('.showSingle').click(function(){
              jQuery('.targetDiv').hide();
              jQuery('#div'+$(this).attr('target')).show();
        });
});
</script>
<style type="text/css">
#DIV_1 {
    height: 484px;
    width: 464px;
    perspective-origin: 240px 242px;
    transform-origin: 240px 242px;
    font: normal normal 400 normal 13px / normal Times;
    overflow: auto;
    padding: 0px 8px;
}/*#DIV_1*/

#DIV_2 {
    height: 291px;
    width: 464px;
    perspective-origin: 232px 145.5px;
    transform-origin: 232px 145.5px;
    font: normal normal 400 normal 13px / normal Times;
}/*#DIV_2*/

#DIV_3 {
    height: 76px;
    width: 464px;
    perspective-origin: 232px 38px;
    transform-origin: 232px 38px;
    font: normal normal 400 normal 13px / normal Times;
}/*#DIV_3*/

#DIV_4 {
    float: left;
    height: 83px;
    vertical-align: top;
    width: 70px;
    perspective-origin: 35px 45px;
    transform-origin: 35px 45px;
    font: normal normal 400 normal 13px / normal Times;
    margin: 0px 15px 0px 0px;
    padding: 7px 0px 0px;
}/*#DIV_4*/

#A_5, #A_13 {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 13px / normal Times;
    outline: rgb(51, 51, 51) none 0px;
}/*#A_5, #A_13*/

#DIV_6 {
    color: rgb(51, 51, 51);
    cursor: pointer;
    height: 83px;
    text-decoration: none solid rgb(51, 51, 51);
    width: 70px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 35px 41.5px;
    transform-origin: 35px 41.5px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 13px / normal Times;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_6*/

#IMG_7 {
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: block;
    height: 70px;
    text-decoration: none solid rgb(51, 51, 51);
    width: 70px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 35px 35px;
    transform-origin: 35px 35px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 13px / normal Times;
    outline: rgb(51, 51, 51) none 0px;
}/*#IMG_7*/

#SPAN_8 {
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: block;
    height: 10px;
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    width: 70px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 35px 5px;
    transform-origin: 35px 5px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 9.1px / normal Times;
    margin: 3px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_8*/

#DIV_9, #DIV_10 {
    color: rgb(51, 51, 51);
    cursor: pointer;
    height: 10px;
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    width: 70px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 35px 5px;
    transform-origin: 35px 5px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 9.1px / normal Times;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_9, #DIV_10*/

#DIV_11 {
    height: 68px;
    width: 464px;
    perspective-origin: 232px 38px;
    transform-origin: 232px 38px;
    font: normal normal 400 normal 13px / normal Times;
    padding: 8px 0px 0px;
}/*#DIV_11*/

#DIV_12 {
    height: 22px;
    width: 464px;
    perspective-origin: 232px 11px;
    transform-origin: 232px 11px;
    font: normal normal 400 normal 13px / normal Times;
}/*#DIV_12*/

#SPAN_14 {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 700 normal 18.2px / normal Times;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_14*/

#SPAN_22 {
    font: normal normal 400 normal 13px / normal Times;
}/*#SPAN_22*/

#SPAN_23 {
    color: rgb(102, 102, 102);
    display: block;
    height: 14px;
    text-decoration: none solid rgb(102, 102, 102);
    width: 464px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 232px 7px;
    transform-origin: 232px 7px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal 700 normal 11.7px / normal Times;
    outline: rgb(102, 102, 102) none 0px;
}/*#SPAN_23*/

#DIV_24 {
    clear: both;
    width: 464px;
    perspective-origin: 232px 100.5px;
    transform-origin: 232px 100.5px;
    font: normal normal 400 normal 13px / normal Times;
}/*#DIV_24*/

#SPAN_25 {
    color: rgb(102, 102, 102);
    display: inline-block;
    height: 17px;
    text-decoration: none solid rgb(102, 102, 102);
    width: 464px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 232px 8.5px;
    transform-origin: 232px 8.5px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal 400 normal 11.7px / 17.55px Times;
    margin: 0px 0px 7px;
    outline: rgb(102, 102, 102) none 0px;
}/*#SPAN_25*/

#SPAN_26 {
    color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal 400 normal 11.7px / 17.55px Times;
    outline: rgb(102, 102, 102) none 0px;
}/*#SPAN_26*/

#SPAN_27 {
    color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-transform: lowercase;
    column-rule-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal 700 normal 11.7px / 17.55px Times;
    outline: rgb(102, 102, 102) none 0px;
}/*#SPAN_27*/

#DIV_28 {
    width: 464px;
    perspective-origin: 232px 70px;
    transform-origin: 232px 70px;
    font: normal normal 400 normal 13px / normal Times;
    margin: 5px 0px 0px;
}/*#DIV_28*/

#DIV_29, #DIV_38 {
    height: 60px;
    width: 464px;
    perspective-origin: 232px 35px;
    transform-origin: 232px 35px;
    font: normal normal 400 normal 13px / normal Times;
    padding: 0px 0px 10px;
}/*#DIV_29, #DIV_38*/

#A_30, #A_39 {
    color: rgb(17, 85, 204);
    text-decoration: none solid rgb(17, 85, 204);
    column-rule-color: rgb(17, 85, 204);
    caret-color: rgb(17, 85, 204);
    border: 0px none rgb(17, 85, 204);
    font: normal normal 400 normal 13px / normal Times;
    outline: rgb(17, 85, 204) none 0px;
}/*#A_30, #A_39*/

#SPAN_31 {
    color: rgb(17, 85, 204);
    cursor: pointer;
    display: block;
    float: left;
    height: 15px;
    text-decoration: none solid rgb(17, 85, 204);
    width: 244.438px;
    column-rule-color: rgb(17, 85, 204);
    perspective-origin: 127.219px 7.5px;
    transform-origin: 127.219px 7.5px;
    caret-color: rgb(17, 85, 204);
    border: 0px none rgb(17, 85, 204);
    font: normal normal 400 normal 13px / normal Times;
    outline: rgb(17, 85, 204) none 0px;
    padding: 0px 10px 0px 0px;
}/*#SPAN_31*/

#B_32, #B_41 {
    color: rgb(17, 85, 204);
    cursor: pointer;
    text-decoration: none solid rgb(17, 85, 204);
    column-rule-color: rgb(17, 85, 204);
    caret-color: rgb(17, 85, 204);
    border: 0px none rgb(17, 85, 204);
    font: normal normal 700 normal 13px / normal Times;
    outline: rgb(17, 85, 204) none 0px;
}/*#B_32, #B_41*/

#SPAN_33, #SPAN_42 {
    color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal 400 normal 10.4px / normal Times;
    outline: rgb(102, 102, 102) none 0px;
}/*#SPAN_33, #SPAN_42*/

#DIV_34, #DIV_43 {
    height: 45px;
    width: 464px;
    perspective-origin: 232px 22.5px;
    transform-origin: 232px 22.5px;
    font: normal normal 400 normal 13px / normal Times;
}/*#DIV_34, #DIV_43*/

#SPAN_35, #SPAN_44 {
    color: rgb(102, 102, 102);
    display: block;
    height: 45px;
    text-decoration: none solid rgb(102, 102, 102);
    text-overflow: ellipsis;
    width: 464px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 232px 22.5px;
    transform-origin: 232px 22.5px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal 400 normal 11.7px / 15.21px Times;
    outline: rgb(102, 102, 102) none 0px;
    overflow: hidden;
}/*#SPAN_35, #SPAN_44*/

#B_36, #B_37, #B_45, #B_47 {
    color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal 700 normal 11.7px / 15.21px Times;
    outline: rgb(102, 102, 102) none 0px;
}/*#B_36, #B_37, #B_45, #B_47*/

#SPAN_40 {
    color: rgb(17, 85, 204);
    cursor: pointer;
    display: block;
    float: left;
    height: 15px;
    text-decoration: none solid rgb(17, 85, 204);
    width: 332.859px;
    column-rule-color: rgb(17, 85, 204);
    perspective-origin: 171.422px 7.5px;
    transform-origin: 171.422px 7.5px;
    caret-color: rgb(17, 85, 204);
    border: 0px none rgb(17, 85, 204);
    font: normal normal 400 normal 13px / normal Times;
    outline: rgb(17, 85, 204) none 0px;
    padding: 0px 10px 0px 0px;
}/*#SPAN_40*/

#B_46 {
    color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal 700 normal 11.7px / 15.21px Times;
    outline: rgb(102, 102, 102) none 0px;
}/*#B_46*/


}
</style>
</head>
<body>
<div class="menu">
<% for(var i=0; i < Object.values(trends)[0].length; i++) { %>
     <a  class="showSingle" target="<%=i%>"><%= Object.values(trends)[0][i].title %></a><br/>
<% } %>
</div>

<% for(var i=0; i < Object.values(trends)[0].length; i++) { %>
<section class="cnt">
<div id="div<%=i%>" class="targetDiv">

	<div id="DIV_1">
	<div id="DIV_2">
		<div id="DIV_3">
			<div id="DIV_4">
				<a href="https://www.npr.org/2018/01/17/578568074/sen-bob-dole-to-receive-congressional-gold-medal" rel="nofollow" title="https://www.npr.org/2018/01/17/578568074/sen-bob-dole-to-receive-congressional-gold-medal" id="A_5"></a>
				<div id="DIV_6">
					<img src="<%= Object.values(trends)[0][i].news.picture.url%>" alt="Bob Dole" id="IMG_7" /><span id="SPAN_8"><%= Object.values(trends)[0][i].news.picture.source%></span>
				</div>
			</div>
			<div id="DIV_11">
				<div id="DIV_12">
					<a href="//www.google.com/search?q=<%= Object.values(trends)[0][i].title%>" rel="nofollow" id="A_13"><span id="SPAN_14"><%= Object.values(trends)[0][i].title%></span></a>
				</div>
			</div>
		</div>
		<% for(var j=0; j < Object.values(trends)[0][i].news.items.length; j++) { %>
		<div id="DIV_24">
			<div id="DIV_28">
				<div id="DIV_29">
					<a href="https://www.npr.org/2018/01/17/578568074/sen-bob-dole-to-receive-congressional-gold-medal" rel="nofollow" id="A_30"><%- Object.values(trends)[0][i].news.items[j].title%></a><span id="SPAN_33"><%- Object.values(trends)[0][i].news.items[j].source%></span>
					<div id="DIV_34">
						<span id="SPAN_35"><%- Object.values(trends)[0][i].news.items[j].snippet%></span>
					</div>
				</div>
			</div>
		</div>
		<% } %>

	</div>
	</div>
</div>
	
</div>
</section>
<% } %>
	
</body>
</html>